body{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 2px solid blue;
    border-collapse: collapse;
    /* border-spacing: 0px; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

td {
    border: 1px solid blue;
    font-weight: bold;
    padding: 5px 10px;
}

a{
    color: red;
    text-decoration: none;
}

a:visited{
    color: magenta;
}

a:active{
    color:blue
}

.cel{
    background-color: yellow;
}

.cel:hover{
    background-color: lightgreen;
    cursor: pointer;
}

.cel2{
    background-color: yellow;
}

.cel2:hover{
    background-color: red;
}