#drive{
    width: 112px;
    height: 96px;
    position: relative;
}

#drive #yellow{
    background: #fdd04a;
    display: block;
    width: 39px;
    height: 62px;
    transform: skew(30deg);
    position: absolute;
    top: 0px;
    right: 18.5px;
    z-index: 1;
}

#drive #blue{
    background: #3f83f9;
    display: block;
    width: 74px;
    height: 34px;
    transform: skew(-30deg);
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#drive #green{
    background: #10a862;
    display: block;
    width: 38px;
    height: 96px;
    transform: skew(-30deg);
    position: absolute;
    top: 0px;
    left: 9px;
}

#drive #green::after{
    content: "";
    border-bottom: 40px solid white;
    border-right: 45px solid transparent;
    position: absolute;
    bottom: -1px;
    left: -6px;
}

